<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
	<meta charset="UTF-8">
	<title th:text="${title}">HEAD FRAGMENT</title>
	<!--/* Latest compiled and minified CSS */-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>HEAD FRAGMENT</h1>
<h2>Params:</h2>
<ul>
	<li><em>title</em> - head title text</li>
</ul>
</body>
</html>