<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
<table>
	<thead>
	<tr>
		<th>Id</th>
		<th>Description</th>
		<th>Preparation</th>
		<th>Cook</th>
		<th>Servings</th>
		<th>Website</th>
		<th>Url</th>
		<th>Directions</th>
		<th>Difficulty</th>
		<th>Notes</th>
		<th>Categories</th>
		<th>Ingredients</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="recipe : ${recipes}">
		<td th:text="${recipe.id}">Id</td>
		<td th:text="${recipe.description}">Description</td>
		<td th:text="${recipe.prepDuration}">Preparation</td>
		<td th:text="${recipe.cookDuration}">Cook</td>
		<td th:text="${recipe.serving}">Servings</td>
		<td th:text="${recipe.sourceName}">Website</td>
		<td th:text="${recipe.sourceUrl}">Url</td>
		<td th:text="${recipe.directions}">Directions</td>
		<td th:text="${recipe.difficulty}">Difficulty</td>
		<td th:text="${recipe.notes}">Notes</td>
		<td th:text="${recipe.categories}">Categories</td>
		<td th:text="${recipe.ingredients}">Ingredients</td>
	</tr>
	</tbody>
</table>
</body>
</html>